* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: Arial, sans-serif;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #020617;
    color: white;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #020617;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}


.contact-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    text-align: center;
    padding: 10px;
}

.contact-container h1 {
    font-size: 28px;
    margin-bottom: 8px;
}

.contact-container p {
    color: #cbd5f5;
    font-size: 14px;
}

.email {
    color: #38bdf8;
}

#contactForm {
    margin-top: 15px;
    background: rgba(255, 255, 255, 0.05);
    padding: 20px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    width: 300px;
    text-align: left;
}

#contactForm label {
    display: block;
    margin-bottom: 5px;
    font-size: 13px;
}

#contactForm input,
#contactForm textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 12px;
    border-radius: 6px;
    border: 1px solid transparent;
    background-color: #020617;
    color: white;
    outline: none;
}

#contactForm input:focus,
#contactForm textarea:focus {
    border: 1px solid #38bdf8;
}

#contactForm textarea {
    resize: none;
    height: 80px;
}

#contactForm button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background: #38bdf8;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

#contactForm button:hover {
    background: #0ea5e9;
}

footer {
    margin-top: auto;
    text-align: center;
    padding: 10px;
    background-color: #020617;
    font-size: 14px;
}