* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: linear-gradient(135deg, #0f172a, #1e293b);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    width: 100%;
}

.logo {
    color: #55b4ff;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.nav-links li a:hover {
    color: #55b4ff;
}

.form-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

#loginForm {
    background: linear-gradient(135deg, #0f172a, #1e293b);
    padding: 40px;
    border-radius: 12px;
    width: 100%;
    max-width: 450px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    color: #060606;
}

#loginForm h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 30px;
    color: #ffffff;
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: #cbd5f5;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
}

input:focus {
    outline: none;
    border-color: #007bff;
}

button {
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

button:hover {
    background-color: #050505;
}

.form-container+p,
#loginForm p {
    text-align: center;
    margin-top: 20px;
    color: #aa1515;
}

#loginForm p a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 20px;
    color: #555;
    font-size: 14px;

}

.ramzy {
    padding: 9px;
    font-size: large;
    font-style: initial;

}