* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #020617;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #38bdf8;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #38bdf8;
}

.form-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

form {
    background: rgba(255, 255, 255, 0.05);
    padding: 40px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    width: 350px;
    text-align: center;

}

form h1 {
    font-size: 32px;
    margin-bottom: 5px;
}

form h2 {
    font-size: 16px;
    color: #cbd5f5;
    margin-bottom: 25px;
}

.input-box {
    text-align: left;
    margin-bottom: 20px;
}

.input-box label {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
}

.input-box input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid transparent;
    outline: none;
    background-color: #020617;
    color: white;
    transition: 0.3s;
}

.input-box input:focus {
    border: 1px solid #38bdf8;
    box-shadow: 0 0 10px #38bdf8;
}

.input-box input::placeholder {
    color: #94a3b8;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #38bdf8;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #0ea5e9;
}

form p {
    margin-top: 15px;
    font-size: 14px;
}

form a {
    color: #a855f7;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #020617;
}